.heading{
    font-size: 20px;
    font-family: "Roboto";
    font-weight: 300px;
    color: green;
    
}
.bg-container{
    background-color: orange;
    height: 25%;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.name{
    color: white;
    font-size: 2rem;
    font-family: "Brief Serif";
    padding-left: 10px;

}